<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--CodeBlock can be used in the value string. The syntax is as follows:
{=VariableName}
There are some predefined CodeBlocks:
{=Newline}: NewLine character;
{=Tab}: Tab;
{=WhiteSpace}: White Space
{=DateTime}: Current DateTime; The format can be provided by the IParameterProvider through the property 'dateTimeFormat' 
{=DoubleQuote}: Double Quote
{=SingleQuote}: Single Quote
The value string format will be kept so you can choose whether use the predefined formatting CodeBlock in the string or just format the string in the configuration file.-->
  <emailer smtpServer="192.168.0.2" maxNumberOfRecipientsPerEmail="20" from="no-reply@netemailer.com" isBodyHtml="false" enableSSL="false" timeout="100000">
    <!-- Default setting will be overrite by specific setting belows if it's not empty string in the specific section -->
    <!--Maximum number of recipients in each recipient list(to, cc, bcc), Emailer will split them into several emails if the list length exceed this number -->
    <!--Timeout value is in milliseconds-->
    <!--priority value can be "High","Low" or "Normal"-->
    <!--{=VariableName} can be used in any value string except for dateTimeFormat-->
    <!--if the smtpServer authentication required SSL,set enableSSL="true"-->
    <email name="Email Health Test">
      <add name="to" value="" />
      <add name="cc" value="yourname@yourorg.com" />
      <add name="bcc" value="" />
      <add name="priority" value="Normal" />
      <add name="subject" value="{=ApplicationAcronym} Email Health Test" />
      <add name="isBodyHtml" value="true" />
      <!--To send Html email, set 'isBodyHtml' to true; use <![CDATA[]]> to wrap the html-->
      <add name="body">
        <![CDATA[
      <html>
        <title>Html Email Sample</title>
        <body>This message was sent <b>{=DateTime}</b> from {=ApplicationAcronym} system.<br>copyright©2006 ZSU</body>
      </html>]]>
      </add>
    </email>
    <email name="User Account Request">
      <add name="to" value="yourname@yourorg.com" />
      <add name="from" value="no-reply@yourorg.com" />
      <add name="cc" value="" />
      <add name="bcc" value="" />
      <add name="priority" value="Normal" />
      <add name="subject" value="{=ApplicationAcronym} User Account Request" />
      <add name="body" value="A {=ApplicationAcronym} user account request was submitted {=DateTime} for:
		
	User Name: {=UserName}
	Organization: {=Organization}
	
Please log into {=ApplicationAcronym} and approve or deny the request for this user." />
      <!--Optional. It's used for formating the {=DateTime} CodeBlock. The default setting is "MMMM d, yyyy \"at\" HH:mm ET". Refer to DateTime Format for more detail. -->
      <add name="dateTimeFormat" value="MMMM d, yyyy 'at' HH:mm ET" />
    </email>
  </emailer>
</configuration>
