<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--CodeBlock can be used in the value string. The syntax is as follows:
{=VariableName}
There are some predefined CodeBlocks:
{=Newline}: NewLine character;
{=Tab}: Tab;
{=WhiteSpace}: White Space
{=DateTime}: Current DateTime; The format can be provided by the IParameterProvider through the property 'DateTimeFormat' 
{=DoubleQuote}: Double Quote
{=SingleQuote}: Single Quote
The value string format will be kept so you can choose whether use the predefined formatting CodeBlock in the string or just format the string in the configuration file.-->
  <emailer smtpServer="smtp.yourcompany.com" maxNumberOfRecipientsPerEmail="20" from="no-reply-netemailer@yourcompany.com" isBodyHtml="false" enableSSL="false" timeout="100000">
    <!-- Default setting will be overrite by specific setting belows if it's not empty string in the specific section -->
    <!--Maximum number of recipients in each recipient list(to, cc, bcc), Emailer will split them into several emails if the list length exceed this number -->
    <!--Timeout value is in milliseconds-->
    <!--priority value can be "High","Low" or "Normal"-->
    <!--{=VariableName} can be used in any value string except for dateTimeFormat-->
    <!--if the smtpServer authentication required SSL,set enableSSL="true"-->
    <email name="Email Health Test">
      <add name="to" value="user1@yourcompany.com;user2@yourcompany.com" />
      <add name="cc" value="cc@yourcompany.com" />
      <add name="bcc" value="bcc@yourcompany.com" />
      <add name="priority" value="Normal" />
      <add name="subject" value="{=ApplicationAcronym} Email Health Test" />
      <add name="isBodyHtml" value="false" />
      <add name="attachments" value="file1.txt;file2.txt" />
      <!--To send Html email, set 'isBodyHtml' to true; use <![CDATA[]]> to wrap the html-->
      <add name="body" value="This test message was sent {=DateTime} from {=ApplicationAcronym} system.">
      </add>
    </email>
    <email name="Password Changed Confirm">
      <add name="to" value="user1@yourcompany.com" />
      <add name="from" value="" />
      <add name="cc" value="" />
      <add name="bcc" value="" />
      <add name="priority" value="Normal" />
      <add name="subject" value="{=ApplicationAcronym} Password Changed" />
      <add name="body" value="Your password for {=ApplicationAcronym} was changed {=DateTime}.
  
If you have any questions regarding the {=ApplicationAcronym} password change process, please do not hesitate to contact {=SupportOrganization}.

If you did not attempt to change the password for {=ApplicationAcronym} web site recently, please contact {=SupportOrganization}.

Please do not reply to this auto-generated message.
  
Respectfully,
{=SupportOrganization}
Customer Support Hotline
Hours: {=SupportHours}
Email: {=SupportEmail}
Phone: {=SupportPhone}" />
    </email>
  </emailer>
</configuration>
